settings.gradle
.gradle\
TP03--Gradle_test.iml
.settings\
bin\
gradle\
out\
.classpath
.project
build.gradle
gradlew
gradlew.bat
settings.gradle
TP03--Gradle.iml
TP03--Gradle_main.iml
TP03--Gradle_test.iml
TP03Qualite.iml
TP03Qualite.ipr
TP03Qualite.iws
/build/
